openapi: "3.0.1"
info:
  title: "Rails Reservation Api"
  description: "Reservatin Api Document"
  termsOfService: "http://swagger.io/terms/"
  version: "1.0.0"
servers:
- url: "https://localhost:3001/api/v1/"

tags:
- name: "reservation"
  description: "user予約用"
- name: "registration"
  description: "fp予約用"
- name: "auth"
  description: "認証処理"

paths:
  #user 予約関連
  /reservations/openings:
    get:
      tags:
      - "reservation"
      summary: "予約可能一覧取得"
      parameters:
      - name: "start"
        description: "取得開始日時"
        in: "query"
        schema:
          $ref: '#/components/schemas/date-time'
      - name: "end"
        description: "取得終了日時"
        in: "query"
        schema:
          $ref: '#/components/schemas/date-time'
      responses:
        200:
          description: "Success"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reservations'
  /reservations:
    get:
      tags:
      - "reservation"
      summary: "予約完了一覧取得"
      parameters:
      - name: "start"
        description: "取得開始日時"
        in: "query"
        schema:
          $ref: '#/components/schemas/date-time'
      - name: "end"
        description: "取得終了日時"
        in: "query"
        schema:
          $ref: '#/components/schemas/date-time'
      responses:
        200:
          description: "Success"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reservations'
  /reservations/{reservation_id}:
    get:
      tags:
      - "reservation"
      summary: "予約詳細情報取得"
      parameters:
      - name: "reservation_id"
        in: "path"
        description: "予約id"
        schema:
          $ref: '#/components/schemas/reservation_id'
        required: true
      responses:
        200:
          description: "Success"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reservation'
    post:
      tags:
      - "reservation"
      summary: "予約登録"
      parameters:
      - name: "reservation_id"
        in: "path"
        description: "予約id"
        schema:
          $ref: '#/components/schemas/reservation_id'
        required: true
      responses:
        200:
          description: "Success"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reservation'
    delete:
      tags:
      - "reservation"
      summary: "予約キャンセル"
      parameters:
      - name: "reservation_id"
        in: "path"
        description: "予約id"
        schema:
          $ref: '#/components/schemas/reservation_id'
        required: true
      responses:
        200:
          description: "Success"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reservation'
components:
  schemas:
    reservation_id:
      type: "integer"
      example: 1
    date-time:
      type: "string"
      format: "date-time"
      example: "2020-09-30T02:21:12+09:00"
    Reservation:
      type: "object"
      required:
      - "reservation_id"
      properties:
        reservation_id:
          type: "integer"
        fp_name:
          type: "string"
        date:
          type: "string"
          format: "date-time"
        reserved:
          type: "boolean"
        is_cancel:
          type: "boolean"
      example:
        reservation_id: 2
        fp_name: "taro"
        date: "2020-09-30T02:21:12+09:00"
        reserved: true
        is_cancel: false
    Reservations:
      type: "object"
      properties:
        data:
          type: "array"
          items:
            $ref: '#/components/schemas/Reservation'
      example:
        data:
        - reservation_id: 2
          fp_name: "taro"
          date: "2020-09-30T02:21:12+09:00"
          reserved: true
          is_cancel: false