openapi: "3.0.1"
info:
  title: "Rails Reservation Api"
  description: "Reservatin Api Document"
  termsOfService: "http://swagger.io/terms/"
  version: "1.0.0"
servers:
- url: "https://localhost:3001/api/v1/"

tags:
- name: "reservation"
  description: "user予約用"
  externalDocs:
    description: "Find out more"
    url: "http://swagger.io"
- name: "registration"
  description: "fp予約用"
- name: "auth"
  description: "認証処理"

paths:
  #user 予約関連
  /reservation/openings:
    get:
      tags:
      - "reservation"
      summary: "予約可能一覧取得"
      parameters:
      - name: "since"
        description: "取得開始日時"
        in: "query"
        schema:
          $ref: '#/components/schemas/date-time'
      - name: "until"
        description: "取得終了日時"
        in: "query"
        schema:
          $ref: '#/components/schemas/date-time'
      responses:
        200:
          description: "Success"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  data:
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        reservation_id:
                          type: "int"
                        date:
                          type: "string"
                          format: "date-time"
                        is_confirm:
                          type: "boolean"
                example:
                  data:
                  - reservation_id: "00723"
                    date: "2020-09-30T02:21:12+09:00"
                    is_confirm: false
  /reservation/decisions:
    get:
      tags:
      - "reservation"
      summary: "予約完了一覧取得"
      parameters:
      - name: "since"
        description: "取得開始日時"
        in: "query"
        schema:
          $ref: '#/components/schemas/date-time'
      - name: "until"
        description: "取得終了日時"
        in: "query"
        schema:
          $ref: '#/components/schemas/date-time'
      responses:
        200:
          description: "Success"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  data:
                    type: "array"
                    items:
                      $ref: '#/components/schemas/Reservation'
  /reservation/{reservation_id}:
    get:
      tags:
      - "reservation"
      summary: "予約詳細情報取得"
      parameters:
      - name: "reservation_id"
        in: "path"
        description: "予約id"
        schema:
          $ref: '#/components/schemas/reservation_id'
        required: true
      responses:
        200:
          description: "Success"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reservation'
    post:
      tags:
      - "reservation"
      summary: "予約登録"
      parameters:
      - name: "reservation_id"
        in: "path"
        description: "予約id"
        schema:
          $ref: '#/components/schemas/reservation_id'
        required: true
      responses:
        200:
          description: "Success"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reservation'
  /reservation/{reservation_id}/cancel:
    post:
      tags:
      - "reservation"
      summary: "予約キャンセル"
      parameters:
      - name: "reservation_id"
        in: "path"
        description: "予約id"
        schema:
          $ref: '#/components/schemas/reservation_id'
        required: true
      responses:
        200:
          description: "Success"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reservation'
components:
  schemas:
    reservation_id:
      type: "integer"
      example: "1"
    date-time:
      type: "string"
      format: "date-time"
      example: "2020-09-30T02:21:12+09:00"
    Reservation:
      type: "object"
      required:
      - reservation_id
      properties:
        reservation_id:
          type: "integer"
        fp_name:
          type: "string"
        user_name:
          type: "string"
        date:
          type: "string"
          format: "date-time"
        is_confirm:
          type: "boolean"
        is_cancel:
          type: "boolean"
      example:
        reservation_id: "00723"
        fp_name: "taro"
        user_name: "hanako"
        date: "2020-09-30T02:21:12+09:00"
        is_confirm: true
        is_cancel: false